RewriteEngine On

	
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteBase /Feelings-Store/src

RedirectMatch 403 (?i).*\.json$
RedirectMatch 403 (?i).*\.xml$
RedirectMatch 403 (?i)/+src/$
RedirectMatch 403 (?i)/+vendor.*$
RedirectMatch 403 (?i)/+Tests.*$
RedirectMatch 403 (?i)/+src/+api/$
RedirectMatch 403 (?i)/+src/+api/+base
RedirectMatch 403 (?i)/+src/+api/+storage

DirectoryIndex src/index.html

#fix rules ([0-9A-z_-]+)
RewriteRule ^api$ api/api.php [QSA,L,NC]
RewriteRule ^api\/([0-9A-z_-]+)$ api/api.php?module=$1 [QSA,L,NC]
RewriteRule ^api\/([0-9A-z_-]+)\/([0-9A-z_-]+)$ api/api.php?module=$1&method=$2 [QSA,L,NC]
RewriteRule ^home$ index.html [QSA,L,NC]
RewriteRule ^cart$ index.html [QSA,L,NC]
RewriteRule ^product\/([0-9A-z_-]+)$ index.html [QSA,L,NC]


