body{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
}
a{
    color: #000;
}
.loading-img{
    text-align: center;
}
.loading-img img{
    max-width: 300px;
}

hr{
    background-color: transparent;
    display: block;
    height: 1px;
    border-width: 0;
    border-top: 1px solid #e7e7e7;
    line-height: 19px;
    margin-top: 0;
    margin-bottom: 14px;
}
h1{
    padding-left: 15px;
    font-weight: bold;
}
/*NavBar Style*/
.navbar-bagde{
    position: absolute;
    z-index: 10;
    margin-top: 18px;
    font-size: 9px;
    margin-left: 6px;
    background-color: #FF0000;
    display:block
}

.cart-navbar {
    padding: 10px 15px;
    padding-top:15px;
    padding-bottom:15px;
    font-weight: bold;
}

.cart-navbar i{
    font-size:20px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color: #d7eff9 !important;
}
.navbar-inverse{
    background-color: #d7eff9 !important;
    border-color: #d7eff9 !important;
    border-radius: 0 !important;
}
.navbar-inverse .navbar-nav>li>a{
    color: #000;
}

.navbar-brand{
    padding-top:10px;
}

.navbar-brand img{
    max-width: 103px;
}

.navbar-header{
    max-width: 50% !important;
    float: left;
}

.navbar-right{
    float: right;

}

.brand-quote{
    float: right;
    padding-top:15px;
    font-style: italic;
    font-size: 17px;
    font-weight: bold;
    color: #000;
}
/*Products List Style*/
.product-img-box img{
    border-right: 1px dotted #C0DCE6;
    border-bottom: 1px dotted #C0DCE6;
    border-top: 1px dotted #C0DCE6;
    border-radius:35px;
    max-height: 250px;
}

/*Product Detail Style*/
.product-detail-img{
    border-right: 1px dotted #C0DCE6;
    border-bottom: 1px dotted #C0DCE6;
    border-top: 1px dotted #C0DCE6;
    border-radius:35px;
}

.price{
    font-size: 15px;
    font-weight: bold;
    color: #b12704 !important;
}

.quantity-field{
    max-width: 100px;
}
.add-to-cart input{
    display: inline !important;
}

/*Cart Detail Style*/
.cart-product-img-box img{
    margin-bottom: 5px;
    width: 80%;
    min-width: 120px;
}

.change-qt-btn{
    padding: 1px 6px;
    font-size: 10px;
}

.cart-field{
    height: auto;
    padding: 3px 7px;
    font-size: 12px;
    max-width: 70px;
}

.title{
    font-weight: bold;
}

.total-box{
    display: block;
    border-radius: 4px;
    border: 1px #ddd solid;
    background-color: #f3f3f3;

}




