body{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
}
a{
    color: #000;
}
.loading-img{
    text-align: center;
}
.loading-img img{
    max-width: 300px;
}
/*NavBar Style*/
.navbar-bagde{
    position: absolute;
    z-index: 10;
    margin-top: 18px;
    font-size: 9px;
    margin-left: 6px;
    background-color: #FF0000;
    display:block
}

.cart-navbar {
    padding: 10px 15px;
    padding-top:15px;
    padding-bottom:15px;
    font-weight: bold;
}

.cart-navbar i{
    font-size:20px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color: #d7eff9 !important;
}
.navbar-inverse{
    background-color: #d7eff9 !important;
    border-color: #d7eff9 !important;
    border-radius: 0 !important;
}
.navbar-inverse .navbar-nav>li>a{
    color: #000;
}

.navbar-brand{
    padding-top:10px;
}

.navbar-brand img{
    max-width: 103px;
}

.navbar-header{
    max-width: 50% !important;
    float: left;
}

.navbar-right{
    float: right;

}

.brand-quote{
    float: right;
    padding-top:15px;
    font-style: italic;
    font-size: 17px;
    font-weight: bold;
    color: #000;
}
/*Products List Style*/
.product-img-box img{
    border-right: 1px dotted #C0DCE6;
    border-bottom: 1px dotted #C0DCE6;
    border-top: 1px dotted #C0DCE6;
    border-radius:35px;
    max-height: 250px;
}





